


h5 ,.h5{ color:#000; font-size:16px;}

.text-danger{ color:#ea413c;}
.text-black{ color:#000;}

.x-panel-top .x-titlebar{ background-color:#ea413c;}
.x-titlebar .x-titlebar-right .btn{ padding-left:30px;}

.img1{ height:200px;}
.img3{ height:60px;}
.img_new{ width:100px; height:70px;}
.img_small{ height:15px;}
.img_cloud{ height:30px;}

.progress{
	height:5px;
}
.x-col-center{
	text-align:center;
	
}
.progress{
	margin-bottom:0px;
}
.btn-default{
	padding:0px;
	border:0px;
}
.col1{
	border-right:1px solid #ddd;
}
.x-panel-content{
	background-color:#f3f1fe;
}

/*页脚按钮组*/
.x-wangyi.btn-group{ background-color:#fff;}
.x-wangyi.btn-group .btn{ border-top:0;}
.x-wangyi.btn-group .btn span{ font-size:12px; font-weight:normal;}
.x-wangyi.btn-group .btn:hover,.x-card.btn-group .btn.active{ color:#337ab7; padding:0;border-top:0;}

/*左右内边距*/
.x-wangyi.panel{ margin-bottom:10px;}
.x-wangyi.panel > .panel-heading .panel-title{ color:#333;}
.x-wangyi .list-group-item{ border-radius:0;}
.x-wangyi .list-group-item:last-child{ border-bottom:0;}

.x-nomargin{ margin-left:0; margin-right:0;}
.x-nopadding{ padding-left:0; padding-right:0;}

.progress-bar-info {
    background-image: -webkit-linear-gradient(top, #3381ed 0, #3381ed 100%);
    background-image: -o-linear-gradient(top, #033c73 0, #022241 100%);
    background-image: linear-gradient(to bottom, #3381ed 0, #3381ed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff033c73', endColorstr='#ff022241', GradientType=0);
}
.progress{
	height:5px;
}
.x-panel-content{
	background-color:#f3f1fe;
}
.x-card.btn-group .btn.active {
    color: #35b3e4;
    border-bottom: 3px solid #497bea;
}

.list-group-item{
	margin-bottom:10px;
}
.row2{
	float:left;
}
.x-row-line{
	border-top:1px solid #ddd;
}
