.progress{
	height:5px;
}
.x-panel-content{
	background-color:#f3f1fe;
}
.button3{
	border-bottom:3px solid #497bea;
}
.x-card.btn-group .btn.active {
    color: #35b3e4;
    border-bottom: 3px solid #497bea;
}
.list-group-item{
	margin-bottom:10px;
}