.progress{
	height:5px;
}
.x-panel-content{
	background-color:#f3f1fe;
}
.button3{
	border-bottom:3px solid #497bea;
}
.x-card.btn-group .btn.active {
    color: #35b3e4;
    border-bottom: 3px solid #497bea;
}
.list-group-item{
	margin-bottom:10px;
}
.progress-bar-info {
    background-image: -webkit-linear-gradient(top, #3381ed 0, #3381ed 100%);
    background-image: -o-linear-gradient(top, #033c73 0, #022241 100%);
    background-image: linear-gradient(to bottom, #3381ed 0, #3381ed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff033c73', endColorstr='#ff022241', GradientType=0);
}
.progress{
	margin-bottom:0px;
}