.an{
	border:0px;margin:0px;padding:0px;
}
.col_text{
	border-bottom:1px solid #eee;
}
.div1{
	margin:10px 0px;
}
.x-panel-content{
	background-color:#f3f1ff;
}
.btn-primary{
	padding:0px;
	border:0px;
}
.img{
	
}
.x-row{
	padding:3px;
}