.div2{
	padding:30px 0px;
}
.div5,.div7{
	margin:10px 0px;
	background-color:#fff;
}
.x-panel-content{
background-color:#f3f1ff;
}
.fr{
	padding-left:15px;
	line-height:35px;
}
.btn-primary{
	border:0px;
}