.input-group-addon{
	border-right:0px;
}
.form-control{
	border-left:0px;
}
.list-group-item{
	border:0px;
	padding:0px;
}
.div14{
	border-top:1px solid #ddd;
	margin-top:10px;
}
.btnxin{
	background-color:#
}
.list_border{
	border-bottom:1px solid #eee;
}